/* ====== Estilos para galeria ===== */

.container-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
    padding-top: 8.5rem;

}


.item {
    border-radius: 10px;
    background-color: hwb(0 98% 0%);

}

.item:hover {
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.20)
}



.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}


.info-product {
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

/* efecto en la imagen */
.item figure {
    overflow: hidden;
}

.item:hover img {
    transform: scale(1.2);
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #F8b195;

}

.button:hover {
    background-color: #f17d4f;
    color: white;
}

p.price {
    color: black;
    font-weight: bolder;
    padding-left: 1em;
    font-size: 18px;
}




/* ====== Fin galeria ===== */